:root {
	--speed: 200ms;
}

.menu {
	width: 100%;
}

.menu-primary-enter {
	position: absolute;
	transform: translateX( -110% );
}
.menu-primary-enter-active {
	transform: translateX( 0% );
	transition: all var( --speed ) ease;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX( -110% );
	transition: all var( --speed ) ease;
}

.menu-secondary-enter {
	transform: translateX( 110% );
}
.menu-secondary-enter-active {
	transform: translateX( 0% );
	transition: all var( --speed ) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
	transform: translateX( 110% );
	transition: all var( --speed ) ease;
}

.asnp-ew-line {
	border-bottom: 3px solid rgba( 12, 14, 51, 0.1 );
	margin-bottom: 30px;
	padding-bottom: 40px;
}
