.asnp-esb-productBadge {
	position: absolute;
}

.asnp-esb-productBadgeTimer {
	position: relative;
}

.asnp-esb-badge {
	top: 0px;
	left: 0px;
	text-align: center;
	text-shadow: none;
	position: absolute;
}

.asnp-esb-svg1 {
	position: absolute;
	z-index: 0;
	width: 100px;
	height: 80px;
}
.asnp-esb-svg2 {
	position: absolute;
	z-index: 0;
	width: 130px;
	height: 120px;
}
