.asnp-esb-productBadge {
	position: absolute;
}
.asnp-esb-css-label-out-of-image {
	position: relative;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 100% !important;
	display: flex;
}

.asnp-esb-css-label-on-image {
	position: absolute !important;
}

.asnp-esb-productBadgeTimer {
	position: absolute;
}

.asnp-esb-badge-timer-out-of-image {
	position: relative;
	margin-bottom: 6px;
	margin-top: 4px;
}

.asnp-esb-badge-timer-on-image {
	position: absolute;
}

.single-product .asnp-esb-timerStyle1Contt {
	display: flex !important;
}

.related .asnp-esb-timerStyle1Contt {
	display: block !important;
}

.single-product .asnp-esb-timerStyle2Wid {
	width: 280px !important;
}

.related .asnp-esb-timerStyle2Wid {
	width: 100% !important;
}

@media only screen and ( max-width: 768px ) {
	.single-product .asnp-esb-timerStyle2Wid {
		width: 100% !important;
	}
	.asnp-esb-timerStyle1Contt {
		display: flex !important;
	}
	.related .asnp-esb-timerStyle1Contt {
		display: flex !important;
	}
}
