.asnp-esb-productBadge {
	position: absolute;
}

.asnp-esb-imgBadge {
	position: absolute;
}

.asnp-esb-productBadgeTimer {
	position: absolute;
}

.single-product .asnp-esb-timerH {
	height:  0;
}
.asnp-esb-timerH {
	height: 57px !important;
}

.single-product .asnp-esb-timerV {
	padding: 11px 13px !important;
}
.asnp-esb-timerV {
	padding: 11px 3px !important;
}

.asnp-esb-advBadge {
	position: absolute;
}

.asnp-esb-badge-timer-out-of-image {
	position: relative;
	margin-bottom: 15px;
	width: 295px;
}

.asnp-esb-badge-timer-on-image {
	position: absolute;
}

.asnp-esb-svg1 {
	position: absolute;
	z-index: 0;
	width: 100px;
	height: 80px;
}
.asnp-esb-svg2 {
	position: absolute;
	z-index: 0;
	width: 130px;
	height: 120px;
}

.asnp-esb-svg3 {
	position: absolute;
	z-index: 0;
	height: 95px;
	margin-left: 30px;
}
