.asnp-esb-containerAd {
	position: sticky;
	top: 40px;
	display: flex;
	float: right;
}

.asnp-esb-product {
	position: relative;
	border-radius: 6px;
	background-color: white;
	border: 1px solid lightgrey;
	padding: 15px 20px 15px 20px;
	margin: 20px;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 10px rgba( 24, 23, 24, 0.2 );
	}
}
.asnp-esb-productLable {
	display: flex;
	justify-content: flex-start;
	font-size: large;
	font-weight: 700;
}
.asnp-esb-product2 {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	position: relative;
}
.asnp-esb-productImg {
	position: relative;
	background-color: rgb( 219, 223, 228 );
	margin-top: 7px;
	background-repeat: no-repeat;
	border-radius: 4px;
	font-size: 12px;
}

.asnp-esb-productBadge {
	position: absolute;
}

.asnp-esb-productBadgeOut {
	position: relative;
	margin-top: 20px;
}

.asnp-esb-productBadge2 {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	text-shadow: none;
	font-weight: 600;
}

.asnp-esb-productBadge2out {
	text-align: center;
	text-shadow: none;
	font-weight: 600;
}

.asnp-esb-svg1 {
	position: absolute;
	z-index: 0;
	width: 100px;
	height: 80px;
}
.asnp-esb-svg2 {
	position: absolute;
	z-index: 0;
	width: 130px;
	height: 120px;
}

.asnp-esb-svg3 {
	position: absolute;
	z-index: 0;
	height: 120px;
	margin-left: 30px;
}
