#asnp-whatsapp-loading {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba( 144, 144, 144, 0.15 );
	z-index: 9999;

	.asnp-whatsapp-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		width: 40px;
		height: 40px;
	}
}
