.asnp-scrollBarImageB {
	overflow-y: auto;
	overflow-x: hidden;
}

.asnp-scrollBarImageB::-webkit-scrollbar {
	width: 8px;
	height: 5px;
	display: block;
}
.asnp-scrollBarImageB::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 8px;
}
.asnp-scrollBarImageB::-webkit-scrollbar-thumb:hover {
	background: rgb( 196, 201, 211 );
}

.asnp-containerImage {
	width: 8rem;
	height: 7rem;
	display: flex;
	border-radius: 1rem;
	justify-content: center;
	border-width: 1px;
	cursor: pointer;

	&:hover {
		box-shadow: 0 0 10px rgba( 24, 23, 24, 0.2 );
	}

	/* Medium devices (Tablets, >=768px) */
	@media ( min-width: 768px ) {
		width: 7rem;
		height: 7rem;
	}

	/* Large devices (Laptops, >=1024px) */
	@media ( min-width: 1024px ) {
		width: 7rem;
		height: 7rem;
	}

	/* Extra-large devices (Desktops, >=1280px) */
	@media ( min-width: 1280px ) {
		width: 8rem;
		height: 7rem;
	}
}
