.asnp-scrollBarImageB {
	overflow-y: auto;
	overflow-x: hidden;
}

.asnp-scrollBarImageB::-webkit-scrollbar {
	width: 8px;
	height: 5px;
	display: block;
}
.asnp-scrollBarImageB::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 8px;
}
.asnp-scrollBarImageB::-webkit-scrollbar-thumb:hover {
	background: rgb( 196, 201, 211 );
}

.asnp-containerBadgeTimer {
	width: 19rem;
	height: 8rem;
	display: flex;
	border-radius: 1rem;
	justify-content: center;
	border-width: 1px;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 10px rgba( 24, 23, 24, 0.2 );
	}
}
.asnp-containerBadgeTimerV {
	width: 8rem;
	height: 18rem;
	display: flex;
	border-radius: 1rem;
	justify-content: center;
	border-width: 1px;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 10px rgba( 24, 23, 24, 0.2 );
	}
}
